* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
	padding: 0;
	margin: 0;
}

body {
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center ;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

#wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction:column;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

header {
    flex-shrink: 0;
    display: -ms-flexbox;
	display: flex;
    flex-direction: column;
}

main {
    border-radius: 5px;
    width: 100%;
}

nav {
	align-items: center;
}

img {
	max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    /* reset placement for centering */
    padding: 0;
	margin: 0;
}

.block {
    display: -ms-flexbox;
    display: flex;
}

.wood-panel {
    background-image: url("../images/navbar.png");
    border-radius: 5px;
    -webkit-box-shadow:inset 0 0 5px 5px rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0 0 5px 5px rgba(0,0,0,0.3);
    -o-box-shadow:inset 0 0 5px 5px rgba(0,0,0,0.3);
    -ms-box-shadow:inset 0 0 5px 5px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.3);
}

#topbar {
    background: linear-gradient(0deg,rgba(132, 132, 132, 0.52), rgba(119, 70, 70, 0.44), rgba(58, 58, 58, 0.56));
    border-bottom: 1px solid rgb(0, 0, 0);
}

.navbar,#loginbar {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
}

#loginbar {
    justify-content: flex-end;
    margin-left: 15%;
    margin-right: 2.5%;
}

#loginbar:first-of-type {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

#loginbar li {
    padding-left: 10px;
    padding-right: 10px;
}

#loginbar a {
    height: 25px;
}

#loginbar a > span:hover {
    color: rgba(255, 240, 255,0.8);
}

#loginbar span {
    font-family: Garamond, Serif;
    font-weight: bold;
    color: rgb(255, 240, 255);
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2), -1px -1px 1px rgba(0,0,0,0.8);
}

.navbar li {
    -ms-flex: 1;
	flex: 1;
    display: -ms-flexbox;
	display: flex;
    -ms-flex-pack: center;
	justify-content: center ;
}

.navbar span {
    font-weight: bold;
    color: #b98b46;
    font-family: Garamond, Serif;
    font-size: 1.25em;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2), -1px -1px 1px rgba(0,0,0,0.8);
}

.navbar a > img {
    height: 50px;

}

.navbar a > img:hover{
    opacity: 0.7;
}

.navbar a > span:hover {
    color: #816131;
}

.navbar a {
    height: 50px;

    /* center text in button */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;

   /* margin: auto;*/
}

#loginbar a {
    border: none;
    height: 25px;
    background-color: rgba(0,0,0,0);

    /* center text in button */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

a {
	/* remove underlines from links */
	text-decoration: none;
}

.page-button {
	border: none;
	height: 40px;
	width: 40px;
	background: url(../images/square.svg);
	background-size: cover;	

	/* center text in button */
    -ms-flex-pack: center;
	justify-content: center;

	margin: auto;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

#articles {
    display: ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction:column;
    -ms-flex: 1;
    flex: 1;
}

#articles article {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
}

article {
    width: 100%;
    display: ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 30px;
    padding-top: 15px;
    /*background-image: url("../images/basicpaper.png");*/
    background-color: rgba(207,219,250,0.55);
    font-weight: bold;
    color: black;
    font-family: Garamond, Serif;
    font-size: 1.2em;
}

article h2 {
    text-align: center;
    font-size: 1.3em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.unselectable {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;   
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;           
}

@media (max-device-width: 800px) {
    #wrapper {
        margin: 0;
    }
    .navbar {
        font-size: 1.5em;
    }

    .navbar a > img {
        height: 70px;
    }

    .navbar a {
        height: 70px;
    }
}

@media (max-width: 800px) {
    #wrapper {
        margin: 0;
    }
    .navbar {
        font-size: 0.7em;
    }
}

.form {
    -ms-flex: 1;
	flex: 1;
    border-radius: 0.2em;
    border: 0.1em solid black;
    padding: 60px;
    background-color: rgba(207,219,250,0.55);
}

.form-text {
	font-size: 1.2em;
	margin: 0 auto;
}

.field-text {
	font-size: 1em;
}


input {
	width: 80%;
	margin: 0 auto;
}

input[type="submit"] {
	width: 40%;
	margin: 5% auto;
}

#add-button {
    border-radius: 100%;
}